dist
node_modules

.DS_Store
*.pem

.env.local
.env.development.local
.env.test.local
.env.production.local

ui
user
utils
config.js
index.js
types.js
typings
config.d.ts
config.d.ts.map
index.d.ts
index.d.ts.map
types.d.ts
types.d.ts.map
tsconfig.tsbuildinfo
storage

!packages/storage
!packages/nextjs/src/ui
!packages/nextjs/src/user
!packages/nextjs/src/utils
.turbo