.root {
  padding: 26px 0;
  border-bottom: 1px solid #dedede;
  background: white;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root h1 {
  font-size: 18px;
}
